body 						{ color: #F7F3E8; }
.site 						{ background-color: #033649; }
a, a:link, a:active			{ color: #21759b; }
a:visited					{ color: #668284; }
a:hover						{ color: #757575; }
blockquote					{ background: rgba(255,255,255,0.5); }

/* blog posts */
.bloglist .post-headline a, 
.bloglist .post-headline a:link, 
.bloglist .post-headline a:active, 
.bloglist .post-headline a:visited				{ color: #D93F0F; }
.bloglist .post-headline a:hover					{ color: #F7F3E8; }
.bloglist .entry-header .entry-title				{ color: #bbb; }
.bloglist .entry-header .entry-title a, 
.bloglist .entry-header .entry-title a:link, 
.bloglist .entry-header .entry-title a:active, 
.bloglist .entry-header .entry-title a:visited 	{ color: #21759b; }
.bloglist .entry-header .entry-title a:hover		{ color: #D93F0F; }
.bloglist .entry-meta								{ color: #757575; }
.bloglist .entry-meta a, 
.bloglist .entry-meta a:link, 
.bloglist .entry-meta a:active, 
.bloglist .entry-meta a:visited					{ color: #999; }
.bloglist .entry-meta a:hover						{ color: #757575; }
.bloglist .widget-area .widget a,
.bloglist .widget-area .widget a:link,
.bloglist .widget-area .widget a:active			{ color: #21759b; }
.bloglist .widget-area .widget a:visited			{ color: #757575; }
.bloglist .widget-area .widget a:hover			{ color: #D93F0F; }

div.comment-container,
div#respond								{ color: #F7F3E8; background: #2B3E42; font-size: 0.9em; border: 2px solid #D93F0F; }

/* navigation menu */
ul#menu1.sf-menu							{ background-color: #668284; border-style: solid; border-color: #D93F0F; border-width: 1px 0; }
ul#menu1.sf-menu li a,
ul#menu1.sf-menu-hor li.rMenu-expand a		{ color: #CDD3D8!important; }
ul#menu1.sf-menu li:hover 					{ background-color: #D93F0F; }
ul#menu1.sf-menu li:hover a,
ul#menu1.sf-menu-hor li.rMenu-expand:hover a { color: #F7F3E8; }
ul#menu1.sf-menu li.current-menu-item, 
ul#menu1.sf-menu li.current_page_item,
ul#menu1.sf-menu li.current_page_ancestor	{ background-color: #D93F0F; }
ul#menu1.sf-menu li.current-menu-item a, 
ul#menu1.sf-menu li.current_page_item a,
ul#menu1.sf-menu li.current_page_ancestor a	{ background: transparent; color: #F7F3E8; }
/*sub menus*/
ul#menu1  									{ background-color: #77BED2; }
ul#menu1.sf-menu ul.sub-menu li 			{ color: #F7F3E8;}
ul#menu1.sf-menu ul.sub-menu li:hover		{ background-color: #D93F0F; color: #F7F3E8; }
ul#menu1.sf-menu ul.sub-menu li a			{ color: #F7F3E8;}
ul#menu1 ul.sub-menu, 
ul#menu1.sf-menu li.current-menu-item ul.sub-menu, 
ul#menu1.sf-menu li.current_page_item ul.sub-menu 	{ background-color: #2B3E42; color: #F7F3E8; border: 1px solid #D93F0F; }

/* slider styles */
#featured-wrapper	 			{ background: #1a2528; }
.featured-post h2.entry-title 	{ background: #D93F0F; opacity:.9; }
.featured-post h2.entry-title a	{ color: #333; }
.slider-nav						{ color: #fff; background: #D93F0F url(../images/slider-nav-arrows.png) no-repeat; background: rgba(217,63,15,0.5) url(../images/slider-nav-arrows.png) no-repeat; }
.slider-nav:hover 				{ background-color: #D93F0F; }
#slider-nav li.activeSlide		{ border-bottom: 14px solid #D93F0F; border-bottom: 1rem solid #D93F0F; padding-top: 0; }

/* events listing pages */
span.event-page-date	 		{ padding: 0; margin: 0; text-align: left; font-style: italic; }
span.event-page-name 			{ padding: 0; margin: 0; text-align: left; }
span.event-widget-date			{ padding: 0; margin: 0; text-align: right!important; font-style: italic; font-size: 1em; color: #668284; }
span.event-widget-name 			{ padding: 0; margin: 0; text-align: right!important; font-size: 1.2em; line-height: 1.2em; color: #668284; padding-right: 2px;}
span.event-widget-name:hover	{ color: #D93F0F; }