
/*
#layout					{ border: none; }
*/


/* post tables */
div.post table th 			{ background: rgba(255, 255, 255, 0.6); color: #444; border: none; border-bottom: 2px solid white; }
div.post table tr td 		{ background: rgba(255, 255, 255, 0.3); }
div.post table tr.alt td	{ background: rgba(0, 0, 0, 0.3); }
div.post table tr.over td	{ background: rgba(255, 255, 255, 0.6); }

/* widgets */
div.widget				{ background: transparent; margin: 0; padding: 0; }
div.widget-title h3 	{ margin: 0; padding: 4px 0 4px 0; font-size: 1.3em; font-weight: normal; }
div.widget ul li		{ padding-right: 5px; font-size: 1em; line-height: 1.2em; }

#full-width		{ margin: 20px 10px; padding: 0px; }



div.navigation-bottom { border-top: 0; }
td#footer { background: transparent; border-top: solid 1px #ccc; }


/* events listing pages */
#pre-loop_1 ul { list-style: none; }
#pre-loop_2 ul { list-style: none; }
#pre-loop_3 ul { list-style: none; }
.widget_em_widget ul { list-style: none; }
#event-listing img { border: none; padding: 0; margin: 0; }
.post img.em-img	{ padding: 0; border: none; background: none; border-radius: 0; }
/* end shared css */

div.person { display: inline-block; margin: 10px 0; }


/*wp-ui*/
.wpui-post-meta { font-size: 0.7em; font-style: italic; }