[submodule "options"]
	path = options
	url = git://github.com/LiftUX/UpThemes-Framework.git
[submodule "inc/nhp-theme-options-framework"]
	path = inc/nhp-theme-options-framework
	url = git://github.com/leemason/NHP-Theme-Options-Framework.git
[submodule "inc/redux-framework"]
	path = inc/redux-framework
	url = git://github.com/ghost1227/Redux-Framework/
