body 						{ color: #F7F3E8; }
.site 						{ background-color: #033649; }
a, a:link, a:active			{ color: #21759b; }
a:visited					{ color: #668284; }
a:hover						{ color: #757575; }
blockquote					{ background: rgba(255,255,255,0.5); }

.bloglist .all-but-meta								{ position: relative;} 
.bloglist .thumbnail-box							{ height: 480px!important; }
.bloglist.has-thumbnail .bloglist-post-content		{ width: 100%; background-color: rgba(0,0,0,0.8); z-index: 3; float: left; position: absolute; bottom: 0; }
.bloglist.has-thumbnail .entry-summary,
.bloglist.has-thumbnail .entry-header,
.bloglist.has-thumbnail .entry-title				{ margin-bottom: 0; }


.post-headline a, 
.post-headline a:link, 
.post-headline a:active, 
.post-headline a:visited				{ color: #D93F0F; }
.post-headline a:hover					{ color: #F7F3E8; }
.entry-header .entry-title				{ color: #bbb; }
.entry-header .entry-title a, 
.entry-header .entry-title a:link, 
.entry-header .entry-title a:active, 
.entry-header .entry-title a:visited 	{ color: #21759b; }
.entry-header .entry-title a:hover		{ color: #D93F0F; }
.entry-meta								{ color: #757575; }
.entry-meta a, 
.entry-meta a:link, 
.entry-meta a:active, 
.entry-meta a:visited					{ color: #999; }
.entry-meta a:hover						{ color: #757575; }
.widget-area .widget a,
.widget-area .widget a:link,
.widget-area .widget a:active			{ color: #21759b; }
.widget-area .widget a:visited			{ color: #757575; }
.widget-area .widget a:hover			{ color: #D93F0F; }

/* sticky posts */
.bloglist.sticky						{ background-color: rgba(128,128,128,0.2); border: 3px solid  #D93F0F; }
.bloglist.sticky .entry-meta			{ border: 0; }
#breadcrumbs							{ text-align: right; font-size: 0.8em; line-height: 1em; }


div.comment-container,
div#respond								{ color: #F7F3E8; background: #2B3E42; font-size: 0.9em; border: 2px solid #D93F0F; }

/* navigation menu */
ul#menu1.sf-menu							{ background-color: #668284; border-style: solid; border-color: #D93F0F; border-width: 1px 0; }
ul#menu1.sf-menu li a,
ul#menu1.sf-menu-hor li.rMenu-expand a		{ color: #CDD3D8!important; }
ul#menu1.sf-menu li:hover 					{ background-color: #D93F0F; }
ul#menu1.sf-menu li:hover a,
ul#menu1.sf-menu-hor li.rMenu-expand:hover a { color: #F7F3E8; }
ul#menu1.sf-menu li.current-menu-item, 
ul#menu1.sf-menu li.current_page_item,
ul#menu1.sf-menu li.current_page_ancestor	{ background-color: #D93F0F; }
ul#menu1.sf-menu li.current-menu-item a, 
ul#menu1.sf-menu li.current_page_item a,
ul#menu1.sf-menu li.current_page_ancestor a	{ background: transparent; color: #F7F3E8; }
/*sub menus*/
ul#menu1  									{ background-color: #77BED2; }
ul#menu1.sf-menu ul.sub-menu li 			{ color: #F7F3E8;}
ul#menu1.sf-menu ul.sub-menu li:hover		{ background-color: #D93F0F; color: #F7F3E8; }
ul#menu1.sf-menu ul.sub-menu li a			{ color: #F7F3E8;}
ul#menu1 ul.sub-menu, 
ul#menu1.sf-menu li.current-menu-item ul.sub-menu, 
ul#menu1.sf-menu li.current_page_item ul.sub-menu 	{ background-color: #2B3E42; color: #F7F3E8; border: 1px solid #D93F0F; }

/* slider styles */
#featured-wrapper	 			{ background: #1a2528; }
.featured-post .entry-title a	{ color: #333; }
.slider-nav						{ color: #fff; background: #D93F0F url(../images/slider-nav-arrows.png) no-repeat; background: rgba(217,63,15,0.5) url(../images/slider-nav-arrows.png) no-repeat; }
.slider-nav:hover 				{ background-color: #D93F0F; }
#slider-nav li.activeSlide		{ border-bottom: 14px solid #D93F0F; border-bottom: 1rem solid #D93F0F; padding-top: 0; }
#featured-wrapper .entry-date	{ display: none; }
#featured-wrapper .entry-info	{ position: absolute; top: 70%; max-width: 65%; right: 0; background: #D93F0F; opacity:.9; color: #333; text-align: right;}
#featured-wrapper .entry-info:hover	{ opacity:1; }
#featured-wrapper .entry-title	a { font-size: 1.3em; text-decoration: none; line-height: 1.6em;}
#featured-wrapper .entry-excerpt	{ display: none;}

/* events listing pages */
span.event-page-date	 		{ padding: 0; margin: 0; text-align: left; font-style: italic; }
span.event-page-name 			{ padding: 0; margin: 0; text-align: left; }
span.event-widget-date			{ padding: 0; margin: 0; text-align: right!important; font-style: italic; font-size: 1em; color: #668284; }
span.event-widget-name 			{ padding: 0; margin: 0; text-align: right!important; font-size: 1.2em; line-height: 1.2em; color: #668284; padding-right: 2px;}
span.event-widget-name:hover	{ color: #D93F0F; }