body 						{ color: #1D130D; background-color: #e6ebe6; }
.site 						{ background-color: #fcfff5; }
a, a:link, a:active			{ color: #613F1A; }
a:visited					{ color: #918B65; }
a:hover						{ color: #94704A; }
blockquote					{ background: rgba(255,255,255,0.5); }

/* blog posts */
.bloglist .entry-header					{ width: 35%; }
.bloglist .entry-summary				{ width: 60%; }
.bloglist .post-headline a, 
.bloglist .post-headline a:link, 
.bloglist .post-headline a:active, 
.bloglist .post-headline a:visited				{ color: #757575; }
.bloglist .post-headline a:hover					{ color: #F7F3E8; }
.bloglist .entry-header .entry-title				{ color: #bbb; }
.bloglist .entry-header .entry-title a, 
.bloglist .entry-header .entry-title a:link, 
.bloglist .entry-header .entry-title a:active, 
.bloglist .entry-header .entry-title a:visited 		{ color: #5A391B; }
.bloglist .entry-header .entry-title a:hover		{ color: #6E4F34; }
.bloglist .entry-meta								{ color: #757575; background-color: rgba(0,0,0,0.1);}
.bloglist .entry-meta a, 
.bloglist .entry-meta a:link, 
.bloglist .entry-meta a:active, 
.bloglist .entry-meta a:visited			{ color: #999; }
.bloglist .entry-meta a:hover			{ color: #757575; }
.bloglist .entry-summary				{ color: #1D130D;}
.bloglist .post-event-info h6			{ line-height: 1.4em; font-weight: normal; font-size: 1.1em; color: #757575; margin: 0;}
.widget-area .widget a,
.widget-area .widget a:link,
.widget-area .widget a:active			{ color: #613F1A; }
.widget-area .widget a:visited			{ color: #918B65; }
.widget-area .widget a:hover			{ color: #94704A; }

div.comment-container,
div#respond								{ color: #5e5e5e; background: #e6ebe6; font-size: 0.9em; border: 2px solid #757575; }
#breadcrumbs							{ text-align: left; font-size: 0.8em; line-height: 1em; }

/* navigation menu */
ul#menu1.sf-menu							{ background-color: #FCFFF5; border-style: dotted; border-color: #ccc; border-width: 1px 0; }
ul#menu1.sf-menu li a,
ul#menu1.sf-menu-hor li.rMenu-expand a		{ color: #777; }
ul#menu1.sf-menu li:hover 					{ background-color: #757575; }
ul#menu1.sf-menu li:hover a,

ul#menu1.sf-menu li.current-menu-item, 
ul#menu1.sf-menu li.current_page_item,
ul#menu1.sf-menu li.current_page_ancestor	{ background-color: #E6EBE6; }
ul#menu1.sf-menu li.current-menu-item a, 
ul#menu1.sf-menu li.current_page_item a,
ul#menu1.sf-menu li.current_page_ancestor a	{ background: transparent; color: #222; }
/*sub menus*/
ul#menu1  									{ background-color: #E6EBE6; }
ul#menu1.sf-menu ul.sub-menu li a 			{ color: #757575; }
ul#menu1.sf-menu ul.sub-menu li:hover		{ background-color: #757575; }
ul#menu1.sf-menu ul.sub-menu li:hover a		{ color: #F7F3E8; }
ul#menu1 ul.sub-menu, 
ul#menu1.sf-menu li.current-menu-item ul.sub-menu, 
ul#menu1.sf-menu li.current_page_item ul.sub-menu 	{ background-color: #e6ebe6; color: #F7F3E8; border: 1px dotted #ccc; border-top: 0;}

/* slider styles */
#featured-wrapper	 			{ background: transparent; }
.featured-post .entry-title a	{ color: #333; }
.slider-nav						{ color: #222; background: #e6ebe6; background: rgba(230,235,230,0.8); text-indent: 0; text-align: center; font-size: 2em;}
.slider-nav:hover 				{ background: #e6ebe6; background: rgba(230,235,230,1); }
#slider-nav li.activeSlide		{ border-bottom: 14px solid #BBE4E5; border-bottom: 1rem solid #BBE4E5; padding-top: 0; }
#featured-wrapper .entry-date	{ position: absolute; top: 0; right: 0; text-align: right; background-color: #222; color: #ddd; padding: 7px; font-size: 1.1em; line-height: 1.3em;}
#featured-wrapper .entry-info	{ position: absolute; top: 70%; max-width: 65%; right: 0; background-color: #e6ebe6; background-color: rgba(230,235,230,0.8); color: #333; text-align: right;}
#featured-wrapper .entry-info:hover	{ background-color: #e6ebe6; background-color: rgba(230,235,230,1); }
#featured-wrapper .entry-title	a { font-size: 1.3em; text-decoration: none; line-height: 1.6em;}
#featured-wrapper .entry-excerpt	{ display: none;}

/* events listing pages */
span.event-page-date	 		{ padding: 0; margin: 0; text-align: left; font-style: italic; }
span.event-page-name 			{ padding: 0; margin: 0; text-align: left; }
span.event-widget-date			{ padding: 0; margin: 0; text-align: right!important; font-style: italic; font-size: 1em; color: #668284; }
span.event-widget-name 			{ padding: 0; margin: 0; text-align: right!important; font-size: 1.2em; line-height: 1.2em; color: #668284; padding-right: 2px;}
span.event-widget-name:hover	{ color: #757575; }

/*events calendar*/
table.em-calendar thead td				{ text-align: center; line-height: 2em; height: auto; }
table.em-calendar						{ width: 100%; margin-bottom: 10px; }
table.em-calendar td					{ vertical-align: top; width: 14%; padding: 2px; }
table.em-calendar.fullcalendar			{ height: 75px; }
table.em-calendar tr.days-names td 		{ text-align: center; height: auto; }
table.em-calendar td ul 				{ font-size: 0.9em; line-height: 1.3em; list-style: none; padding: 0; }
table.em-calendar td ul a 				{ text-decoration: none; }
table.em-calendar td ul li				{ background: #598A9C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 2px; margin-bottom: 4px; }
table.em-calendar td.eventful-pre a, 
table.em-calendar td.eventful-post a,
table.em-calendar td.eventful a, 
table.em-calendar td.eventful-today a 	{ color: #AAA!important; text-decoration: none!important; }
table.em-calendar td.eventful-pre a:hover, 
table.em-calendar td.eventful-post a:hover,
table.em-calendar td.eventful a:hover, 
table.em-calendar td.eventful-today a:hover 	{ color: #1E1B1D!important; text-decoration: underline!important; }
table.em-calendar td.eventless , 
table.em-calendar td.eventless-today 	{ color: #1E1B1D!important; }
table.em-calendar td.eventless-today, 
table.em-calendar td.eventful-today 	{ background-color: transparent; background: rgba(0, 0, 0, 0.2); }

.tubepress_thumb		{ width: 250px; height: 250px; font-size: 1.2em; line-height: 1.3em; margin: 6px; }
